<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>User - Dashboard</title>
</head>
<body>
<section style="padding: 30px;">
    <div class="card">
        <div class="card-body">
            <h1 class="text-center">Your Contacts</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Work</th>
                    <th scope="col">Role</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c : ${contactList}">
                    <th scope="row" th:text="${c.cId}">1</th>

                    <td>
                        <img class="my_profile_picture" src="" th:src="@{'/image/'+${c.image}}" alt="No Image">
                        <span th:text="${c.name}"></span>
                    </td>
                    <td th:text="${c.phone}">Otto</td>
                    <td th:text="${c.email}">@mdo</td>
                    <td th:text="${c.work}">@mdo</td>
                    <td th:text="${c.description}">@mdo</td>
                    <td class="inliner">
                        <form method="post" th:action="@{'/user/delete-contact/'+${c.cId}}">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                        <form th:if="${userRole == 'USER'}" method="post" th:action="@{'/user/update-contact/'+${c.cId}}">
                            <button type="submit" class="btn btn-primary btn-sm">Update</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>

<!--            Pagination Part-->
            <nav aria-label="Page Navigation Example">
                <ul class="pagination">
                    <li th:classappend="${(currentPage > 0)?'':'disabled'}"  class="page-item">
                        <a class="page-link" href="#" th:href="@{'/user/show-contacts/'+${currentPage - 1}}">Prev</a>
                    </li>
                    <li th:each="i : ${#numbers.sequence(1, totalPages)}" th:classappend="${currentPage == i - 1 ? 'active':''}" class="page-item">
                        <a class="page-link" href="#" th:if="${i > 0}" th:href="@{'/user/show-contacts/' + ${i - 1}}"><span th:text="${i}"></span></a>
                    </li>

                    <li th:classappend="${currentPage + 1 >= totalPages ? 'disabled':''}" class="page-item">
                        <a class="page-link" href="#" th:href="@{'/user/show-contacts/'+${currentPage + 1}}">Next</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</section>
</body>
</html>