<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>User - Dashboard</title>
</head>
<body>
<section style="padding: 30px;">
    <div class="card">
        <div class="card-body">
            <h1 class="text-center">Your Products</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p : ${productList}">
                    <th scope="row" th:text="${p.productId}">1</th>
                    <td th:text="${p.productName}">Mark</td>
                    <td class="inliner">
                        <form method="post" th:action="@{'/user/delete-contact/'+${p.productId}}">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                        <form method="post" th:action="@{'/user/update-contact/'+${p.productId}}">
                            <button type="submit" class="btn btn-primary btn-sm">Update</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>

            <div th:replace="page::my_product_page"></div>

        </div>
    </div>
</section>
</body>
</html>