body{
    background: #e2e2e2!important;
}

.bg-primary {
    background: #009688!important;
}

.banner {
    width: 100%;
    height: 93vh;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../image/linux.jpg);
    background-size: cover;
    color: white;
}

.my-card {
    padding: 20px;
    background: #FFFFFF;
}

.sidebar {
    width: 18%;
    height: 100%;
    position: fixed;
    background-color: white;
    padding-top: 45px;
}

.sidebar a {
    text-decoration: none;
    display: block;
    color: gray;
    width: 100%;
    padding: 10px 25px;
}

.sidebar a:hover {
    background-color: #e2e2e2;
}

.sidebar .divider {
    height: 0.5px;
    width: 100%;
    background-color: #e2e2e2;
    margin-top: 10px;
}

.content {
    margin-left: 30%;
}

section .card {
    margin-right: 15%;
    margin-left: -10%;
}

.inliner form {
    display: inline-block;
}