<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="base2::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="font-weight-bold">This is Home Page.</h1>
        <p class="font-weight-bold">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore enim excepturi natus placeat,
            repellendus ut velit voluptas voluptate voluptatem! Consequatur!
        </p>
        <a href="#" th:if="${user!=null && user.role == 'ROLE_USER'}" th:href="@{/user/index}"><button class="btn bg-primary btm-lg text-white">Get Started</button></a>
        <a href="#" th:if="${user!=null && user.role == 'ROLE_ADMIN'}" th:href="@{/admin/index}"><button class="btn bg-primary btm-lg text-white">Get Started</button></a>
        <a href="#" th:if="${user == null }" th:href="@{/}"><button class="btn bg-primary btm-lg text-white">Get Started</button></a>
    </div>
</section>
</body>
</html>