<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section style="padding: 30px;">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <img src="" style="height: 200px; width: 200px;" class="my_profile_picture" th:src="@{'/image/'+${contact.image}}"  alt="Profile Photo">
                <h1 class="text-center" th:text="${contact.name}"></h1>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">CONTACT <span th:text="${contact.cId}"></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Email</th>
                        <td><span th:text="${contact.email}"></span></td>
                    </tr>
                    <tr>
                        <th scope="row">Phone</th>
                        <td><span th:text="${contact.phone}"></span></td>
                    </tr>
                    <tr>
                        <th scope="row">Image</th>
                        <td><span th:text="${contact.image}"></span></td>
                    </tr>

                    <tr>
                        <th scope="row">Work</th>
                        <td><span th:text="${contact.work}"></span></td>
                    </tr>
                    <tr>
                        <th scope="row">Description</th>
                        <td><span th:text="${contact.description}"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>